.support-hero {
  background-image: url("../Images/support-hero.jpg");
  background-size: cover;
  height: 500px;
  padding-top: 80px;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.support-products {
  display: flex;
  height: 250px;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.support-product-link {
  color: black;
  font-size: 1.25rem;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;

  i {
    margin-bottom: 2px;
    height: 30px;
  }

  p {
    height: 25px;
  }

  &:hover {
    p {
      border-bottom: 2px solid black;
    }
  }
}

.support-links-container {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;

  .support-link {
    padding: 2rem 7rem;
    color: rgb(89, 89, 187);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &:nth-child(2) {
      border-left: 1px solid #dedede;
      border-right: 1px solid #dedede;
    }

    p {
      padding: 5px;
    }

    &:hover {
      p {
        border-bottom: 1px solid rgb(89, 89, 187);
      }
    }
  }
}

.support-search {
  width: 50%;
  margin: 0 auto;
  padding: 2rem 0;

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  .input-wrapper {
    width: 100%;
  }
}
