.support-hero {
  background-image: url("../Images/support-hero.jpg");
  background-size: cover;
  height: 500px;
  padding-top: 80px;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.support-products {
  display: flex;
  height: 250px;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.support-product-link {
  color: black;
  font-size: 1.25rem;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;

  i {
    margin-bottom: 2px;
    height: 30px;
  }

  p {
    height: 25px;
  }

  &:hover {
    text-decoration: none;

    p {
      border-bottom: 2px solid black;
    }
  }
}

.support-links-container {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;

  .support-link {
    padding: 2rem 7rem;
    color: rgb(89, 89, 187);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-decoration: none;

    &:nth-child(2) {
      border-left: 1px solid #dedede;
      border-right: 1px solid #dedede;
    }

    p {
      padding: 5px;
      border: none;
    }

    &:hover {
      p {
        border-bottom: 2px solid rgb(89, 89, 187);
      }
    }
  }
}

.support-search {
  width: 50%;
  margin: 0 auto;
  padding: 2rem 0;

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  .input-wrapper {
    width: 100%;
    position: relative;

    input {
      box-sizing: border-box;
      padding: 8px 0 8px 25px;
      width: 100%;
    }

    i {
      position: absolute;
      top: 11px;
      left: 7px;
    }

    .search-suggestions {
      box-sizing: border-box;
      width: 100%;
      background-color: white;
      border: 1px solid black;
      border-top: 0;
      padding: 10px;
      display: none;

      ul {
        list-style: none;

        li {
          padding: 5px 0;

          a {
            text-decoration: none;
            color: black;

            &:hover {
              color: blue;
            }
          }
        }
      }
    }

    input:is(:focus) + .search-suggestions {
      display: block;
    }
  }
}

.search-update {
  display: flex;
  justify-content: center;
  padding: 40px 0;

  .search-update-text {
    width: 350px;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      margin: 0;
      font-size: 2.5rem;
    }

    p {
      font-size: 1.25rem;
      margin: 0;
      color: gray;
    }

    a {
      font-size: 1.25rem;
      text-decoration: none;
      color: #66bafe;

      &::after {
        content: "\203A";
        font-size: 2rem;
        margin-left: 0.5rem;
      }
      &:hover {
        color: #367ab2;
      }
    }
  }
}

.get-support {
  height: 400px;
  background-image: url("../Images/get-support.jpg");
  background-size: cover;
  position: relative;

  &-text {
    position: absolute;
    top: 50%;
    left: 250px;
    transform: translateY(-50%);

    h2 {
      color: white;
      font-size: 2rem;
      margin: 0;
    }

    p {
      color: white;
    }

    a {
      display: block;
      margin-bottom: 10px;
      text-decoration: none;
      color: #66bafe;
      font-size: 1.25rem;
      width: fit-content;

      &::after {
        content: "\203A";
        font-size: 2rem;
        margin-left: 0.5rem;
      }
      &:hover {
        color: #367ab2;
      }
    }
  }
}

.support-trade {
  display: flex;
  justify-content: center;
  padding: 40px 0;

  &-text {
    width: 450px;

    h2 {
      font-size: 2rem;
      margin: 0;
    }

    p {
      font-size: 1.25rem;
      color: gray;
    }

    a {
      text-decoration: none;
      color: #66bafe;
      font-size: 1.25rem;

      &::after {
        content: "\203A";
        font-size: 2rem;
        margin-left: 0.5rem;
      }
      &:hover {
        border-bottom: 2px solid #66bafe;
      }
    }
  }
}

.support-accidents,
.my-support,
.support-beware {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 0;

  &-text {
    width: 450px;

    h2 {
      font-size: 2rem;
      margin: 0;
    }

    p {
      font-size: 1.25rem;
      color: gray;
    }

    a {
      text-decoration: none;
      color: #66bafe;
      font-size: 1.25rem;

      &::after {
        content: "\203A";
        font-size: 2rem;
        margin-left: 0.5rem;
      }
      &:hover {
        border-bottom: 2px solid #66bafe;
      }
    }
  }
}

.support-text-container {
  text-align: center;
  padding: 20px 0;
  width: 50%;
  margin: 0 auto;

  p {
    color: gray;
    font-size: 1.25rem;
  }
}

.apple-services {
  padding: 30px 0 30px 300px;

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 5px 0;

      a {
        text-decoration: none;
        color: #367ab2;
        font-size: 18px;

        &:hover {
          border-bottom: 2px solid #367ab2;
        }
      }
      &:last-child a::after {
        content: "\203A";
        margin-left: 0.5rem;
        padding: 0;
        font-size: 20px;
      }
    }
  }
}
